/*Especificidad (0,0,1)*/
h1{
    text-align:center;
    background-color: rgb(202, 161, 72);
    font-size: 30px;
    color: black;
}
/*Especificidad (0,0,1)*/
section{
    background-color: rgb(202, 161, 72);
    color: black;
    width: 400px;
    height: 500px;
    padding: 20px;
    margin:0 auto;
}
/*Especificidad (0,0,1)*/
form{
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    grid-gap: 15px;
    background-color: rgb(58, 57, 56);
    color: black;
    width: 285px;
    height: 375px;
    padding: 20px;
    border-radius: 15px;
    margin:0 auto;
}
/*Especificidad (0,0,1)*/
button{
    font-size: 30px;
    border-radius: 8px;
    background-color: darkgray;
    color: black;
}
/*Especificidad (0,1,1)*/
input[value="C"]{
    font-size: 30px;
    border-radius: 8px;
    background-color: darkgray;
    color: black;
}
/*Especificidad (0,1,1)*/
button[value="/"],button[value="*"],button[value="+"],button[value="-"]{
    background-color: crimson;
    color: black;
}
/*Especificidad (0,1,1)*/
button[value="mrc"],button[value="m-"],button[value="m+"]{
    background-color: rgb(97, 97, 97);
    color: black;
}
/*Especificidad (0,1,1)*/
input[value=""]{
    grid-column: 1 / 5;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    background-color: rgba(202, 236, 167, 0.952);
    color: black;
    text-align: right;
}
/*Especificidad (0,0,1)*/
label{
    display: none;
}