/*Especificidad (0,0,1)*/
nav{
    height: 10vh;
    width: 100vw;
    padding-left: 0;
}
/*Especificidad (0,0,1)*/
form, ul{
    height: 100%;
    width: 100%;
    padding-left: 0;
}
/*Especificidad (0,0,1)*/
li{
    float: left;
    list-style: none;
    width: auto;
    background-color: #28be73;
    color: #080808;
    padding: 1.5vh;
    text-align: center;
}
/*Especificidad (0,0,1)*/
li input{
    font-size: 110%;
    border: none;
    background-color: #28be73;
    color: #080808;
}
/*Especificidad (0,1,1)*/
li input:focus{
    background-color: #1e8f56;
    color: #080808;
}
/*Especificidad (0,0,1)*/
p{
    font-size: 25px;
}
/*Especificidad (0,0,2)*/
form p{
    font-size: 20px;
}
/*Especificidad (0,0,1)*/
label, input{
    font-size: 20px;
}