/*Especificidad (0,0,1)*/
label, input, button{
    font-size: 1.5em;
    margin: 0.5em;
}
/*Especificidad (0,0,1)*/
h1{
    font-size: 3em;
}
/*Especificidad (0,0,1)*/
main{
    width:100%; 
    height:60vh; 
}