/*Especificidad: 001*/
body {
    font-family: Tahoma, sans-serif;
    color: #080808;
    background-color: #fff;
    font-size: 2vh;
    }
/*Especificidad: 001*/
h1 {
    color: #080808;    
    background-color:#28be73; 
    text-transform: uppercase;
    padding: 5vh; 
    text-align: center;     
}
/*Especificidad: 001*/
h3{
    text-align: center;
}
/*Especificidad: 002*/
nav ul{
    height: 5vh;
    width: 110vw;
    padding-left: 0;
}
/*Especificidad: 002*/
nav li{
    float: left;
    list-style: none;
    width: auto;
    background-color: #28be73;
    padding: 1.5vh;
    text-align: center;
}
/*Especificidad: 003*/
nav li a {
    color: #080808;
    text-decoration: none;
}