/********
Pablo Fernández Díaz - UO270157
Descripción de los estilos
*******/
/*Especificidad: 001*/
body {
    font-family: Tahoma, sans-serif;
    color: #080808;
    background-color: #fff;
}
/*Especificidad: 001*/
header {
    color: #080808;    
    background-color:#28be73; 
    text-transform: uppercase;
}
/*Especificidad: 002*/
header img{
    max-width: 5em;
    width: 15vw;
    height: auto;
}
/*Especificidad: 001*/
nav{  
    background-color:#28be73;
    color: #080808;
}
/*Especificidad: 001*/
section{
    color: #080808;    
    background-color:#28be7375;
}
/*Especificidad: 001*/
footer {
    color: #080808;    
    background-color:#28be73; 
}
/*Especificidad: 002*/
footer img{
    max-width: 2.75em;
}
/*Especificidad: 002*/
nav > a{
    text-decoration: none;
    background-color:#28be73;
    color: #080808;
    padding: 0.25em;
    border-bottom: 0.25em solid #28be73;
}
/*Especificidad: 012*/
nav a:hover{  
    border-bottom: 0.25em solid #fff;
}