/*Especificidad: 001*/
table, th, td{
    border: 0.2em solid black;
    border-collapse: collapse;
}
/*Especificidad: 001*/
th{
    height: 2em;
    background-color: #28be73;
    color: #080808;
}
/*Especificidad: 001*/
td{
    height: 2em;
}