/********
Pablo Fernández Díaz - UO270157
Descripción de los estilos
*******/
main{
    background-color:#95e5bd;
    padding: 0.25em;
    margin-top: 1em;
}
header{
    background-color:#28be73;
    padding: 0.75em;
}
nav{
    background-color:#2af18e;
    padding: 0.5em;
    margin-top: 1em;
}
section{
    background-color:#3ae08d;
    padding: 0.25em;
}